<html>
  <head>
    <html lang="en">
    <meta charset="utf-8" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <script>
      socket = io.connect()
      socket.on("messages", (data) => {
        console.log(data)
      })
    </script>
    <h1>Home</h1>
  </body>
</html>
